#out{
    bottom: 50%;
    margin-top: 10%;
    margin-left: 20%;

}


#out1{
    float: right;
    margin-top: 10px;
    width: 70%;
    height: 10px;
    

}


#out2{
    padding-right: 50%;
    margin: right 20px;  

}






    


#out{
    bottom: 50%;
    margin-top: 5%;
    margin-left: 0%;
    width: 1400px;

}


#out1{
    float: right;
    margin-top: 10px;
    width: 70%;
    height: 10px;
    

}


#out2{
    padding-right: 50%;
    margin: right 20px;  

}